/*Light/Dark Mode*/
/*Light Mode*/
body.light-mode {
    background: url(../images/background/eg-light.svg);
    background-position: center;
    background-repeat: no-repeat;
}

html.light-mode, p.light-mode, a.light-mode {
    color: black;
}

#star.light-mode {
    filter: none;
}

/*Dark Mode*/
body.dark-mode {
    background: url(../images/background/eg-dark.svg);
    background-position: center;
    background-repeat: no-repeat;
}

html.dark-mode, p.dark-mode, a.dark-mode {
    color: white;
}

#star.dark-mode {
    filter: invert();
}

/*Responsive Design*/

/*Mobile*/
@media screen and (max-width: 767px) {
    article {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 45vh;
        transform: translateY(-50%);
    }

    h1 {
        font-size: 3rem;
        padding-bottom: 0.25rem;
    }

    h2 {
        font-size: 1.25rem;
        padding-bottom: 4rem;
    }

    p {
        font-size: 1.5rem;
    }

    /*See my projects button*/
    .flexbox img {
        margin-right: 0.5rem;
    }

    .flexbox p {
        align-self: baseline;
        line-height: 2rem;
    }

    /*iOS-Specific Padding for Star*/
    @supports (-webkit-text-size-adjust:none) and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none)) {
        .flexbox img {
            align-self: center;
            padding-top: 4pt;
        }
    }

    /*WebKit Browsers*/
    @supports (-webkit-appearance:none) {
        .flexbox img {
            align-self: baseline;
        }
    }
}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1180px) {
    @media screen and (min-height: 501px) {
        article {
            margin-top: 45vh;
            transform: translateY(-50%);
        }
    }

    @media screen and (max-height: 500px) {
        article {
            margin-top: 10vh;
        }
    }
    body {
        background-size: 60vw;
    }

    h1 {
        font-size: 4rem;
        padding-bottom: 0.5rem;
    }

    h2 {
        font-size: 1.8rem;
        padding-bottom: 2rem;
    }

    p {
        font-size: 2rem;
    }

    /*See my projects button*/
    .flexbox img {
        width: 1.5rem;
        margin-right: 0.75rem;
    }
}
/*Desktop*/
@media screen and (min-width: 1181px) {
    article {
        margin-top: 45vh;
        transform: translateY(-50%);
    }

    h1 {
        padding-bottom: 0.5rem;
        font-size: 5rem;
    }

    h2 {
        padding-bottom: 2rem;
        font-size: 2rem;
    }

    p {
        font-size: 2.5rem;
    }

    /*See my projects button*/
    .flexbox p:hover ~ img {
        visibility: visible;
    }
    
    .flexbox img {
        width: 2rem;
        visibility: hidden;
        margin-right: 22rem;
    }

    .flexbox p {
        position: fixed;
        align-self: center;
    }

    /*Safari Align*/
    @media not all and (min-resolution:.001dpcm) { 
        @supports (-webkit-appearance:none) and (stroke-color:transparent) {
        .flexbox img { 
            padding-top: 3pt;
        }
    }}

    /*WebKit Browsers*/
    @supports (-webkit-appearance:none) {
        .flexbox img {
            padding-top: -20pt;
        }
    }
}

/*Background*/
html {
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

body {
    height: 100vh;
    width: 100vw;
    border: 0pt transparent solid;
    overflow: hidden;
    animation-name: background;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes background {
    33% {background-position: 49% 49%;}
    66% {background-position: 51% 51%;}
    100% {background-position: 50% 50%;}
}

/*Text formatting*/
html {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: playfair-display, serif;
    font-weight: 900;
    font-style: normal;
    animation-name: ease-in;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

h2 {
    animation-name: ease-in;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

p {
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    animation-name: ease-in;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@keyframes ease-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

p a {
    position: relative;
    text-decoration: none;
}

#star {
    animation-name: ease-in;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}


/*Linky linky*/
.flexbox {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: center;
    direction: rtl;
}