@import url("https://use.typekit.net/fla6nuv.css");
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

@font-face {
    font-family: Bodoni;
    src: url("/assets/fonts/bodoni-72-oldstyle-book.ttf") format("truetype");
}

:root {
 --mobile-nav-height: 3.5rem;
 --color-primary: 157, 10, 3;
 --color-background: 240, 234, 228;
}

*, *::before, *::after {
    box-sizing: border-box;
}

::selection, ::-webkit-selection {
    background: rgb(var(--color-primary));
    color: white;
    text-shadow: none;
}

::-webkit-scrollbar {
    display: none;
}

/*Only for beta versions!*/
#version {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    border-radius: 10px;
    border: 1px black solid;
    margin: 0.5rem;
    padding: 0.5rem;
    animation: none;
    color: black;
    font-weight: bold;
    float: left;
    font-family: Arimo, Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-size: 1rem;
}

/*Animations*/
@keyframes ease-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes ease-out {
    from {opacity: 1;}
    to {opacity: 0;}
}

body {
    font-family: pt-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    animation-name: ease-in;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

/*Dark/Light Mode Toggle*/
#nav-primary ul li svg.dark-mode, svg#light-icon.dark-mode, #dark-icon.dark-mode, #menu-button > svg{
    filter: invert();
}

#nav-primary ul li svg.light-mode, svg#light-icon.light-mode, #dark-icon.light-mode {
    filter: saturate();
}

/* #nav-primary a.light-mode {
    color: black;
} */

#nav-primary a.dark-mode { 
    color: white;
}

/*Navigation for Homepage and Work page*/
#nav-primary {
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    overflow: hidden;
    padding: 0.5rem;
    /* background-color: rgba(248, 244, 255, 0.8); */
    background: rgba(var(--color-background), 0.8);

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 10;
    /* border: 1pt skyblue solid; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    /* Will change this */
    /* gap: clamp(0.5rem, -2.2692307691rem + 5.769230769vw, 2rem); */
    gap: 2rem;

    font-family: "Arimo", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}


nav.dark-mode {
    background-color: rgba(10, 24, 36, 0.8);
}

#nav-title-stack {
    /* border: 1pt red solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-shrink: 0;
    width: fit-content;
    white-space: nowrap;

    color: rgb(var(--color-primary));

    /* font-family: "Arimo", sans-serif;
    font-weight: 600; */
}

#nav-title {
    /* Need to customise these for different vws */
    font-size: medium;
    text-transform: uppercase;
}

#nav-subtitle {
    font-size: small;
    text-transform: none;
}


#nav-primary ul.desktop-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    /* gap: clamp(0.5rem, -14.5rem + 50vw, 2rem); */
    gap: 2rem;
    /* border: 1pt solid yellow; */
    overflow: hidden;
    
}
/* min: 30: 0.5rem, max: 74rem: 2rem */
/* slope: 0.03409090909 */
/* y-axis intersect: -0.5227272727 */


#nav-primary ul.desktop-link li {
    border-radius: 0.1rem;
}

#nav-primary ul.desktop-link.light-mode:hover {
    background-color: #c0a3ff;
    transition: 0.25s;
    transition-timing-function: ease-in;
}


#nav-primary ul li {
    display: inline;
    /* font-family: Arimo, sans-serif;
    font-weight: 700; */
    font-style: normal;
    /* border: 1pt purple solid; */
    margin: 0;
    text-transform: uppercase;
    /* padding: 0.5rem; */
    flex-shrink: 1;
    font-size: medium;
}

#nav-primary ul.desktop-link li a {
    color: rgb(var(--color-primary));
}

/*Colour Mode Selector*/
#theme-selector {
    /* border: 1pt green solid; */
    height: 100%;
    max-height: 100%;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 3px; */
    padding: 0;
    margin: 0;
}

/* #theme-selector * {
    border: 1pt solid purple;
} */

#colour-toggle {
    flex-shrink: 0;
    margin-left: auto;
}

#nav-primary + * {
    padding-top: 2.5rem;
}

svg#light-icon, #dark-icon, #toggle-image {
    stroke: rgb(var(--color-primary));
}




.colour-mode button img:hover {
    filter:none;
}

/*High dpi devices need to have colour toggle lowered.*/
/* @media screen and (min-resolution: 192dpi) {
    .colour-mode {
        margin-top: 5px;
    }
} */

.colour-mode:nth-child(1) svg, .colour-mode:nth-child(3) svg{
    height: 1.25rem;
}

.colour-mode button, button#menu-button{
    background: none;
    cursor: pointer;
}

.colour-mode svg#toggle-image {
    height: 100%;
}

/*Transitions*/
#nav-primary ul li a.dark-mode:hover {
    color:#e65f46;
    transition: 0.25s;
    transition-timing-function: ease-in;
}

/* #nav-primary ul li a.light-mode:hover {
    color: #c0a3ff;
    transition: 0.25s;
    transition-timing-function: ease-in;
} */

a {
    text-decoration: none;
}

/*Responsive Nav Layout*/
/*Mobile*/
@media screen and (max-width: 767px) {
    /*To eventually be removed*/
    #nav-primary ul li {
        /* font-size: 1rem; */
        /* padding-left: 1rem;
        padding-right: 1rem; */
    }

    /* .colour-mode {
        height: 1rem;
    } */

    .colour-mode button {
        height: 1.3rem;
        width: 2.18rem;
    }

    /*New*/
    .desktop-link {
        /* display: none; */
    }

    /* li#menu-logo {
        border: 1pt rgb(0, 209, 66) solid;
        flex-basis: 0;
        flex-grow: 1;
        text-align: left;
    } */

    #nav-primary {
        /* padding: 0; */
    }

    #mobile-nav-bar {
        /* border: 1pt black solid; */
        display: none;
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
        height: var(--mobile-nav-height);
        transition: height 0.5s ease-in-out;
    }

    #mobile-nav-bar > li {
        display: flex;
        /* border: 1pt black dotted; */
        height: 100%;
        align-items: center;
    }
    
    #menu-image, #menu-button, #menu-button > img {
        /* border: 1pt blue solid; */
        height: 100%;
    }

    #mobile-nav-bar img { /*Temporary until we have a better hamburger icon*/
        max-height: 2rem;
    }

    li#menu-logo > img {
        /* height: 1.5rem; */
        filter: saturate(0.5);
    }

    button#menu-button.light-mode > img {
        filter: brightness(0);
    }

    /*Expanded navigation bar*/
    #expanded-#nav-primary {
        display: flex;
        flex-direction: column;
        direction: rtl;
        height: 0;
        overflow: hidden;
        gap: 3rem;
        /* border:#e65f46 solid; */
        margin-top: 2rem;
        transition: height 0.5s ease-in-out;

    }

    #expanded-#nav-primary + li {
        padding-top: 3rem;
    }

    #expanded-#nav-primary > li {
        font-size: 1.5rem;
        font-weight: lighter;
        padding-bottom: 1rem;
        border-image-slice: 1;
        border-width: 1pt;
        border-style: solid;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-image-source: linear-gradient(90deg,  rgba(248, 244, 255, 0), rgba(0,0,0,1) 100%);;
    }

    #expanded-#nav-primary > li.dark-mode {
        border-image-source: linear-gradient(90deg,  rgba(248, 244, 255, 0), rgb(255, 255, 255) 100%);;

    }
}

/*Tablet*/
@media screen and (min-width:768px) and (max-width: 1180px) {
    #nav-primary ul {
        float: right;
    }

    #nav-primary ul li {
        font-size: medium;
        /* padding-left: 2rem;
        padding-right: 2rem; */
    }

    /* .colour-mode {
        height: 1.15rem;
    } */

    .colour-mode button {
        height: 1.47rem;
        width: 2.46rem;
    }

    .mobile-#nav-primary {
        display: none;
    }
}

/*Desktop*/
@media screen and (min-width: 1181px) {
    #nav-primary ul {
        float: inline-end;
    }
    
    #nav-primary ul li {
        /* font-size: 1.25rem; */
        /* padding-left: 2rem;
        padding-right: 2rem; */
    }

    /* .colour-mode {
        height: 1.25rem;
    } */

    .colour-mode button {
        height: 1.6rem;
        width: 2.68rem;
    }

    .mobile-#nav-primary {
        display: none;
    }
}

/*Dark Mode*/
html.dark-mode {
    background-color: rgb(10, 24, 36);
}

/*Light Mode*/
html.light-mode {
    /* background-color: rgb(248, 244, 255); */
    background-color: rgb(var(--color-background));
}

/* Custom Scrollbars
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background:rgb(248, 244, 255);
}

::-webkit-scrollbar-thumb {
    background: #222121;
} */

/*Disable scrolling*/
.disable-scroll {
    overflow: hidden;
}

#expanded-#nav-primary {
    display: none;
}