@import url("https://use.typekit.net/fla6nuv.css");

:root {
 --mobile-nav-height: 3.5rem;
}

/*Only for beta versions!*/
#version {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    border-radius: 10px;
    border: 1px black solid;
    margin: 0.5rem;
    padding: 0.5rem;
    animation: none;
    color: black;
    font-weight: bold;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

/*Animations*/
@keyframes ease-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes ease-out {
    from {opacity: 1;}
    to {opacity: 0;}
}

body {
    font-family: pt-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    animation-name: ease-in;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

/*Dark/Light Mode Toggle*/
nav ul li img.dark-mode, img#light-icon.dark-mode, img#dark-icon.dark-mode, #menu-button > img{
    filter: invert();
}

nav ul li img.light-mode, img#light-icon.light-mode, img#dark-icon.light-mode {
    filter: none;
}

nav a.light-mode {
    color: black;
}

nav a.dark-mode { 
    color: white;
}

/*Navigation for Homepage and Work page*/
nav {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    padding: 1rem;
    background-color: rgba(248, 244, 255, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 10;
}

nav.dark-mode {
    background-color: rgba(10, 24, 36, 0.8);
}

nav ul.desktop-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    direction: rtl;
    width: 100%;
    /* border: 1pt solid yellow; */
}

nav ul li {
    display: inline;
    font-family: playfair-display, sans-serif;
    font-weight: 700;
    font-style: normal;

}

nav + * {
    padding-top: 2.5rem;
}

/*Colour Toggle*/
.colour-mode {
    display: flex;
    flex-direction: row;
    align-items: center;
    direction: ltr;
    gap: 3px;
}

.colour-toggle button img:hover {
    filter:none;
}

/*High dpi devices need to have colour toggle lowered.*/
@media screen and (min-resolution: 192dpi) {
    .colour-mode {
        margin-top: 5px;
    }
}

.colour-mode:nth-child(1) img, .colour-mode:nth-child(3) img{
    height: 1.25rem;
}

.colour-mode button, button#menu-button{
    background: none;
    cursor: pointer;
}

.colour-mode img#toggle-image {
    height: 100%;
}

/*Transitions*/
nav ul li a.dark-mode:hover {
    color:#e65f46;
    transition: 0.25s;
    transition-timing-function: ease-in;
}

a {
    text-decoration: none;
}

/*Responsive Nav Layout*/
/*Mobile*/
@media screen and (max-width: 767px) {
    /*To eventually be removed*/
    nav ul li {
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .colour-mode {
        height: 1rem;
    }

    .colour-mode button {
        height: 1.3rem;
        width: 2.18rem;
    }

    /*New*/
    .desktop-link {
        display: none;
    }

    /* li#menu-logo {
        border: 1pt rgb(0, 209, 66) solid;
        flex-basis: 0;
        flex-grow: 1;
        text-align: left;
    } */

    nav {
        padding: 0;
    }

    #mobile-nav-bar {
        /* border: 1pt black solid; */
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
        height: var(--mobile-nav-height);
        transition: height 0.5s ease-in-out;
    }

    #mobile-nav-bar > li {
        display: flex;
        /* border: 1pt black dotted; */
        height: 100%;
        align-items: center;
    }
    
    #menu-image, #menu-button, #menu-button > img {
        /* border: 1pt blue solid; */
        height: 100%;
    }

    #mobile-nav-bar img { /*Temporary until we have a better hamburger icon*/
        max-height: 2rem;
    }

    li#menu-logo > img {
        /* height: 1.5rem; */
        filter: saturate(0.5);
    }

    button#menu-button.light-mode > img {
        filter: brightness(0);
    }

    /*Expanded navigation bar*/
    #expanded-nav {
        display: flex;
        flex-direction: column;
        direction: rtl;
        height: 0;
        overflow: hidden;
        gap: 3rem;
        /* border:#e65f46 solid; */
        margin-top: 2rem;
        transition: height 0.5s ease-in-out;

    }

    #expanded-nav + li {
        padding-top: 3rem;
    }

    #expanded-nav > li {
        font-size: 1.5rem;
        font-weight: lighter;
        padding-bottom: 1rem;
        border-image-slice: 1;
        border-width: 1pt;
        border-style: solid;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-image-source: linear-gradient(90deg,  rgba(248, 244, 255, 0), rgba(0,0,0,1) 100%);;
    }

    #expanded-nav > li.dark-mode {
        border-image-source: linear-gradient(90deg,  rgba(248, 244, 255, 0), rgb(255, 255, 255) 100%);;

    }
}

/*Tablet*/
@media screen and (min-width:768px) and (max-width: 1180px) {
    nav ul li {
        font-size: 1.15rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .colour-mode {
        height: 1.15rem;
    }

    .colour-mode button {
        height: 1.47rem;
        width: 2.46rem;
    }

    .mobile-nav {
        display: none;
    }
}

/*Desktop*/
@media screen and (min-width: 1181px) {
    nav ul li {
        font-size: 1.25rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .colour-mode {
        height: 1.25rem;
    }

    .colour-mode button {
        height: 1.6rem;
        width: 2.68rem;
    }

    .mobile-nav {
        display: none;
    }
}

/*Dark Mode*/
html.dark-mode {
    background-color: rgb(10, 24, 36);
}

/*Light Mode*/
html.light-mode {
    background-color: rgb(248, 244, 255);
}

/* Custom Scrollbars
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background:rgb(248, 244, 255);
}

::-webkit-scrollbar-thumb {
    background: #222121;
} */

/*Disable scrolling*/
.disable-scroll {
    overflow: hidden;
}

#expanded-nav {
    display: none;
}