html, body, div, span, h1,
h2, h3, h4, h5, h6, p, a,
img, i, b, strong, em, 
caption, figure, article,
section, footer, header,
table, th, tr, td, caption, form,
datalist, fieldset, input,
option, optgroup, button,
nav, aside, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}