/*Light Mode*/
th.light-mode, td.light-mode, tfoot a.light-mode {
    color: black;
}

tbody td.light-mode {
    border-bottom: 1.5pt black solid;
}

tbody tr td.light-mode {
    border-top: 1.5pt black solid;
}

tbody tr.light-mode:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.1s background-color ease-in;
}

#star.light-mode {
    filter: none;
}

/*Dark Mode*/
th.dark-mode, td.dark-mode, tfoot a.dark-mode {
    color: white;
}

tbody td.dark-mode {
    border-bottom: 1.5pt white solid;
}

tbody tr td.dark-mode {
    border-top: 1.5pt white solid;
}

tbody tr.dark-mode:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.1s background-color ease-in;
}

#star.dark-mode {
    filter: invert();
}

/*Responsive Design*/

/*Mobile*/
@media screen and (max-width: 767px) {
    /*Add centralisation on non-limited-height*/
    @media screen and (min-height: 692px) {
        article {
            top: 50vh;
            transform: translateY(calc(-55% - 2.5rem));
        }
    }

    #image {
        display: none;
    }
    
    /*Table takes up whole viewport*/
    section:nth-child(2) {
        width: 100%;
    }

    /*Margins*/
    article {
        margin-left: 2rem;
        margin-right: 2rem;
        padding-bottom: 2rem;
    }

   /*Table Font Resizing*/
    thead th{
        font-size: 2rem;
    }

    td, tfoot{
        font-size: 1rem;
    }

    .back img {
        width: 0.8rem;
        align-self: flex-end;
        transform:translateY(-3px);
    }

    .inactive {
        display: none;
    }
}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1180px) {
    /*Add centralisation on non-limited-height*/
    @media screen and (min-height: 826px) {
        article {
            top: 50vh;
            transform: translateY(calc(-55% - 2.5rem));
        }
    }
    /*Hide images on mobile*/
    #image {
        display: none;
    }
    
    /*Table takes up whole viewport*/
    section:nth-child(2) {
        width: 100%;
    }

    /*Margins*/
   article {
    margin-left: 3rem;
    margin-right: 3rem;
    padding-bottom: 3rem;
   }

    /*Table Font Resizing*/
    thead th {
        font-size: 3rem;
    }

    td, tfoot{
        font-size: 1.5rem;
    }

    .inactive {
        display: none;
    }
}

/*Desktop*/
@media screen and (min-width: 1181px) {
    /*Add centralisation on non-limited-height*/
    @media screen and (min-height:780px) {
        article {
            /* border: 1pt solid red; */
            align-items: center;
            top: 50vh;
            transform: translateY(calc(-50% - 1rem));
            animation: ease-in 0.5s ease-in;
        }
    }

    @media screen and (max-height:779px) {
        article {
            height: 100vh;
            /* border: 1pt solid red; */
            top: 2.25rem;
            /* transform: translateY(calc(-50vh)); */
            animation: ease-in 0.5s ease-in;
            margin-bottom: 4rem;
        }

        #hover-images {
            display: flex;
            flex-direction: row;
            align-items: center;
            overflow: hidden;
        }
    }

    section:nth-child(2) {
        margin-left: 4.5rem;
    }

    /*Ellipsis for workpage descriptions*/

    table {
        width: 100%;
        table-layout: auto;
        border-collapse:collapse;
    }

    tr td:first-child {
        max-width: 40px;
        /* border: 1pt orange solid; */
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    tr td:last-child {
        width: 10rem;
        /* border: 2pt rgb(255, 0, 217) solid; */
    }

    /* @media screen and (max-height: 791px) {
        article > :first-child { */
            /* opacity: 0;
            transition: opacity 0.4s ease-out; if you want to fade out instead */
            /* margin: 0;
            display: none;
        }

        section:nth-child(2) {
            margin-left: 0;
            animation: ease-in 0.5s ease-in;
        }
    } */

    /*Margins*/
    article {
        min-height: 40rem;
        height: calc(100% - 10rem);
        margin-left: 4.5rem;
        margin-right: 4.5rem;
        padding-bottom: 3rem;
    }

    /*Show images on desktop*/
    .active {
        opacity: 1;
        min-width: 400px;
        width: calc(50vw - 4rem);
        overflow-x: hidden;
        flex-direction: column;
        display: inline;
        /* transition: 0.1s;
        transition-timing-function: ease-out; */
    }

    .inactive {
        opacity: 0;
        display: none;
    }
    
    section:nth-child(2) {
        flex-grow: 1;
        flex-direction: column;
    }
    /*Image appears on hover*/
    .back p:hover ~ img {
        visibility: visible;
        opacity: 1;
        transition: 0.1s;
        transition-timing-function: ease-in;
    }

    .back img  {
        visibility: hidden;
        opacity: 0;
        transition: 0.1s;
        transition-timing-function: ease-out;
    }

    /*Table Font Resizing*/
    thead th {
        font-size: 3rem;
    }

    td, tfoot{
        font-size: 1.5rem;
    }
}

/*Flexbox Properties*/
html {
    height: 100%;

}
body {
    height: 100%;

}
article {
    display: flex;
    position: relative;
}

/*Table Properties*/

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    text-align: left;
    font-size: 2rem;
    text-transform: uppercase;
}

thead th {
    padding-bottom: 1rem;
    font-family: playfair-display, serif;
    font-weight: 900;
    font-style: normal;
}

tbody tr {
    cursor: pointer;
}

td {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

td:nth-child(1) {
    font-family: playfair-display, serif;
    font-weight: 400;
    font-style: normal;
    text-wrap: pretty;
}

td:nth-child(2) {
    width: 5rem;
    text-align: right;
    font-family: pt-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

tfoot th {
    margin-top: 1rem;
}

a {
    color: black;
    text-decoration: none;
}

/*Back Button*/
.back {
    align-items: baseline;
    float: right;
    display: flex;
    flex-direction: row;
    direction: rtl;
    margin-top: 1rem;
}

.back img {
    margin-right: 0.5rem;
}

.back p {
    font-family: playfair-display, sans-serif;
    font-weight: 700;
    font-style: normal;
}